{% extends 'base.html.twig' %}

{% block title %}- BLOG
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="col-12 mt-5">
			<div class="card">
				<div class="card-body">
					<h2 class="card-title">{{blog.title}}</h2>
					<p class="card-text">{{blog.article}}</p>
				</div>
				<img src="{{blog.poster}}" class="card-img-bottom" alt="...">
			</div>
		</div>
		<a class="button mt-5 text-center" href="{{ path('blog') }}">Retour</a>
	</div>
{% endblock %}

